*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
.main{
    width: 100vw;
    height: 100vh;
    position: relative;
    background: linear-gradient(#ffdad5,#fff7f9);
}
.nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items:center;
    justify-content: space-between;
}
.nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;  
}
.nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold
}
.nav ul li a:hover{
    color: red;
}
.summary-skills h2{
    text-align: center;
    color: black;
    text-decoration: underline;
}
.summary-skills p{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    text-align: center;
    font-style: oblique;
}
.sk{
    text-align: center;
    padding-top: 10px;


}
.comp{
    text-align: center;
    font-size: small;
    color: lightslategray; 
}